.info {
    background: white;
    border: 1px solid #40a9ff;
    border-left: 4px solid #40a9ff !important;
    color: rgba(0, 0, 0, 0.65);
    padding: 8px !important;
}

.info p:last-child {
    margin-bottom: 0px !important;
}

.info strong {
    color: #1890ff;
}
.warning {
    background: white;
    border: 1px solid #faad14;
    border-left: 4px solid #faad14 !important;
    color: rgba(0, 0, 0, 0.65);
    padding: 8px !important;
}
.warning strong {
    color: #faad14;
}
.danger {
    background: white;
    border: 1px solid #ff4d4f;
    border-left: 4px solid #ff4d4f !important;
    color: rgba(0, 0, 0, 0.65);
    padding: 8px !important;
}
.danger strong {
    color: #f5222d;
}
.success {
    background: white;
    border: 1px solid #73d13d;
    border-left: 4px solid #73d13d !important;
    color: rgba(0, 0, 0, 0.65);
    padding: 8px !important;
}
.success strong {
    color: #52c41a;
}
